<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Calendar</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <!--Iconos de FontAwesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    />
    <script
      src="https://kit.fontawesome.com/76bcb4e810.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/funciones.js"></script>
    <script src="/showSelector.js"></script>
    <script th:inline="javascript">
      const link =/*[[ @{/admin/lista_asistencias/export/} +${profesor}+ '/'+${clase.idClase} +'/']]*/ "defaultanyvalue";

      getYears = (id)=>{
        let min = 2019;
        let max = new Date().getFullYear() + 10;
        select = document.getElementById(id);
      
        for (var i = min; i<=max; i++){
        var opt = document.createElement('option');
        opt.value = i;
        opt.innerHTML = i;
        select.appendChild(opt);
        }
      }
      handleChange = ()=>{
        let anio = document.getElementById("anio");
        let mes = document.getElementById("mes");
        let anioValue = parseInt(anio.value);
        let mesValue= parseInt(mes.value);

        console.log("current year: " , anioValue);
        console.log("current month: " , mesValue);
        $('#pdfButton').html(
          '<a class= "btn btn-secondary" href="' + link + (mesValue) + `/` +(anioValue)+'"><i class="fas fa-file-pdf " </i>'
        );
      }
      
    </script>
  </head>
  <body>
    <!--Logos-->
    <div class="d-flex">
      <div class="p-2 mr-auto">
          <img src="static/img/deportes.png" th:src="@{/img/deportes.png}" alt="Inicio" width="120" height="120" />
      </div>
      <div class="p-2">
        <img src="static/img/escudo.png" width="100" height="100"  th:src="@{/img/escudo.png}" alt="deportes" />
      </div>
    </div>
  
    <!--Navbar header-->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/admin/lista_profesores"> <h3>Administracion de profesores</h3> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/lista_clases"><h5>Administrar Clases</h5></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text ="${#authentication.getPrincipal().getUsername()}">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/admin/configuracion"><i class="fas fa-cog"></i> Configuracion</a>
                <li class="divider"></li>
                <li><a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Cerrar Sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron jumbotron">
        <div class="container">
          <h1 class="display-5" th:text=" 'Asistencias de la clase: ' + ${clase.nombreDep}"></h1>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <div class="container">
            <div class="card">
              <h3 class="card-header" id="monthAndYear"></h3>
              <div class="form-inline pt-2">
                <button
                  class="btn btn-outline-primary col-sm-6"
                  id="previous"
                  onclick="previous()"
                >
                  Anterior
                </button>
                <button
                  class="btn btn-outline-primary col-sm-6"
                  id="next"
                  onclick="next()"
                >
                  Siguiente
                </button>
              </div>
              <div class="container pt-2">
                <table
                  class="table table-bordered table-responsive-sm"
                  id="calendar"
                >
                  <tr>
                    <th class="col-1">Domingo</th>
                    <th class="col-1">Lunes</th>
                    <th class="col-1">Martes</th>
                    <th class="col-1">Miércoles</th>
                    <th class="col-1">Jueves</th>
                    <th class="col-1">Viernes</th>
                    <th class="col-1">Sabado</th>
                  </tr>
                  <tbody id="calendar-body"></tbody>
                </table>
              </div>

              <div class="d-flex">
                <label class="lead mr-2 ml-2 col-1" for="month">Ir a: </label>
                <select
                  class="form-control col-5 mr-2"
                  name="month"
                  id="month"
                  onchange="jump()"
                >
                  <option value="0">Enero</option>
                  <option value="1">Febrero</option>
                  <option value="2">Marzo</option>
                  <option value="3">Abril</option>
                  <option value="4">Mayo</option>
                  <option value="5">Junio</option>
                  <option value="6">Julio</option>
                  <option value="7">Agosto</option>
                  <option value="8">Septiembre</option>
                  <option value="9">Octubre</option>
                  <option value="10">Noviembre</option>
                  <option value="11">Diciembre</option>
                </select>
                <label for="year"></label>
                <select
                  class="form-control col-5"
                  name="year"
                  id="year"
                  onchange="jump()"
                >
                <script>
                  getYears("year");
                </script>
                  
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <table class="table rable-responsive table-striped table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Hora inicio</th>
                <th scope="col">Hora fin</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody id="results">
              <tr><p>Hacer click sobre una celda para consultar los registros de asistencia en ese día</p></tr>
            </tbody>
          </table>
          <div class="card">
            <div class="card-header">Generar reporte de Asistencia</div>
            <div class="card-body">
              <div class="d-flex">
                <select
                  class="form-control col-5 mr-2"
                  name="mes"
                  id="mes"
                  onchange="handleChange()"
                >
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
                <label for="year"></label>
                <select
                  class="form-control col-5"
                  name="anio"
                  id="anio"
                  onchange="handleChange()"
                >
                <script>
                  getYears("anio");
                </script>
                </select>
                <div id="pdfButton">

                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
                <a th:href="@{/admin/asistencia_manual/} + ${idProf} + '/' + ${clase.idClase}">Ingresar Asistencia de forma manual</a>
            </div>
            <div class="card-header">
              <a th:href="@{/admin/eliminar_asistencia_manual/} + ${idProf} + '/' + ${clase.idClase}">Eliminar una asistencia</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!--Fragment, se renderiza cuando clickeamos una celda-->
    <th:block th:fragment="horariosList" th:unless="${#lists.isEmpty(horarios)}">
        <div scope="row" >
            <p th:text="'Fecha: ' + ${selectedFecha}" class="text-center"></p>
        </div>
        <tr scope="row" th:each="registro : ${horarios}">
            <td th:text="${registro.idRegistro.horario.hora_inicio}"></td>
            <td th:text="${registro.idRegistro.horario.hora_fin}"></td>
            <td th:text="${registro.estado == true} ? 'Presente' : 'Ausente'"></td>
        </tr>
    </th:block>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let today = new Date();
        today.setHours(0, 0, 0, 0);
  
        let currentMonth = today.getMonth();
        let currentYear = today.getFullYear();
        let selectYear = document.getElementById("year");
        let anio = document.getElementById("anio");
        let mes = document.getElementById("mes");
        const days = [
          "Lunes",
          "Martes",
          "Miercoles",
          "Jueves",
          "Viernes",
          "Sabado",
          "Domingo",
        ];
        // function enviar(){
        //   $.ajax({
        //     url: "/admin/lista_asistencias/export",
        //     data: { mes: currentMonth + 1, profesor: profesor, clase: clase },
        //     success: function (response) {
        //       window.open("data:application/pdf," + response);         
        //      },
        //     error: function (data) {
        //       console.log("Error:", data);
        //     },
        //   });
        // }
        
  
        const fechasCompletas = /*[[${fechasCompletas}]]*/ "defaultanyvalue";
        const faltas = /*[[${faltas}]]*/ "defaultanyvalue";
        const clase = /*[[${clase.idClase}]]*/ "defaultanyvalue";
        const profesor = /*[[${profesor}]]*/ "defaultanyvalue";
  
       
        // $( document ).ready(function() {
        //   $('#pdfButton').html(
        //     '<a href="' + link + (currentMonth + 1) +'">...</a>'
        //   );
        // });
        let selectMonth = document.getElementById("month");
        let months = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Sep",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        let monthAndYear = document.getElementById("monthAndYear");
  
        showCalendar(currentMonth, currentYear);
  
        function next() {
          currentYear = currentMonth === 11 ? currentYear + 1 : currentYear;
          currentMonth = (currentMonth + 1) % 12;
          showCalendar(currentMonth, currentYear);
        }
  
        function previous() {
          currentYear = currentMonth === 0 ? currentYear - 1 : currentYear;
          currentMonth = currentMonth === 0 ? 11 : currentMonth - 1;
          showCalendar(currentMonth, currentYear);
        }
  
        function jump() {
          currentYear = parseInt(selectYear.value);
          currentMonth = parseInt(selectMonth.value);
          showCalendar(currentMonth, currentYear);
        }
        function maskDay(dia) {
          switch (dia) {
            case 0:
              break;
  
            default:
              break;
          }
        }
        function celdaAsistencia(fechaIncompleta, idClase, profesor) {
          console.log(fechaIncompleta);
          //$("#modal").modal("show");
          $.ajax({
            url: "/admin/consulta_horarios",
            data: { date: fechaIncompleta, clase: idClase, profesor: profesor },
            success: function (response) {
              console.log(response);
              $("#results").html(response);
            },
            error: function (data) {
              console.log("Error:", data);
            },
          });
        }
  
        function showCalendar(month, year) {
         
          let firstDay = new Date(year, month).getDay();
          console.log("el primer dia del mes es: ", firstDay);
  
          let daysInMonth = 32 - new Date(year, month, 32).getDate();
  
          let tbl = document.getElementById("calendar-body"); // body of the calendar
          // clearing all previous cells
          tbl.innerHTML = "";
  
          // filing data about month and in the page via DOM.
          monthAndYear.innerHTML = months[month] + " " + year;
          selectYear.value = year;
          selectMonth.value = month;
          anio.value = year;
          mes.value = month + 1;
          $('#pdfButton').html(
            '<a class= "btn btn-secondary" href="' + link + (month + 1) + `/` +(year)+'"><i class="fas fa-file-pdf " </i>'
          );
          // creating all cells
          let date = 1;
          for (let i = 0; i < 6; i++) {
            // creates a table row
            let row = document.createElement("tr");
  
            //creating individual cells, filing them up with data.
            for (let j = 0; j < 7; j++) {
              if (i === 0 && j < firstDay) {
                let cell = document.createElement("td");
                let cellText = document.createTextNode("");
                cell.appendChild(cellText);
                row.appendChild(cell);
              } else if (date > daysInMonth) {
                break;
              } else {
                if (date <= daysInMonth) {
                  let indexDate = new Date(year, month, date);
                  let cell = document.createElement("td");
                  let cellText = document.createTextNode(date);
  
                  fechasCompletas.forEach((fecha) => {
                    parts = fecha.split("-");
                    // Resto porque JS cuenta meses desde 0:
                    let myDate = new Date(parts[0], parts[1] - 1, parts[2]);
                    if (
                      date === myDate.getDate() &&
                      year === myDate.getFullYear() &&
                      month === myDate.getMonth()
                    ) {
                      cell.classList.add("bg-success");
                      cell.addEventListener(
                        "click",
                        celdaAsistencia.bind(null, fecha, clase, profesor)
                      );
                    } // co
                  });
                  faltas.forEach((fechaIncompleta) => {
                    parts = fechaIncompleta.split("-");
                    // Resto porque JS cuenta meses desde 0:
                    let fechaInc = new Date(parts[0], parts[1] - 1, parts[2]);
                    if (
                      date === fechaInc.getDate() &&
                      year === fechaInc.getFullYear() &&
                      month === fechaInc.getMonth()
                    ) {
                      cell.classList.add("bg-danger");
                      cell.addEventListener(
                        "click",
                        celdaAsistencia.bind(
                          null,
                          fechaIncompleta,
                          clase,
                          profesor
                        )
                      );
                    } // co
                  });
  
                  cell.appendChild(cellText);
                  row.appendChild(cell);
                  date++;
                }
              }
            }
  
            tbl.appendChild(row); // appending each row into calendar body.
          }
  
          // console.log("----------break-------");
          // todasLasDate.forEach(element => {
          //    console.log(element) ;
          // });
          /*]]>*/
        }
      </script>
</body>

    
    <!-- resultados -->
    
   
</html>
