<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--StyleSheets CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <!--Iconos de FontAwesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    />
    <script
      src="https://kit.fontawesome.com/76bcb4e810.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/funciones.js"></script>
    <script src="/showSelector.js"></script>

    <!--tablas-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  </head>
  <body>
    <!--Tabla que trae datos desde base de datos--
    asdjasodijasoidjiasjdo
    -->
    <!--Navbar header-->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin/lista_profesores"
                ><h5>Administrar Profesores</h5></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <h3>Administracion de clases</h3>
                <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>

          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                th:text="${#authentication.getPrincipal().getUsername()}"
              >
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/admin/configuracion"
                  ><i class="fas fa-cog"></i> Configuracion</a
                >

                <li class="divider"></li>
                <li>
                  <a class="dropdown-item" href="/logout"
                    ><i class="fas fa-power-off"></i> Cerrar Sesión</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container pt-3">
      <div class="card">
        <div class="card-header">
          <h3>Agregar Clase</h3>
        </div>

        <div class="card-body">
          <form
            th:action="@{/admin/save_clase}"
            th:object="${clase}"
            method="POST"
          >
            <div class="card">
              <div class="card-body">
                <input type="hidden" th:field="*{idClase}" />
                <div class="row">
                  <div class="form-group form-inline p-2">
                    <label class="mr-2" for="nombre">Nombre de la Clase:</label>
                    <input
                      type="text"
                      id="nombre"
                      name="nombre"
                      th:field="*{nombreDep}"
                      class="form-control mr-4 col-lg-3"
                    />
                    <label class="mr-2" for="deporte">Deporte:</label>
                    <input
                      type="text"
                      id="Deporte"
                      name="deporte"
                      th:field="*{deporte}"
                      class="form-control mr-2 col-lg-3"
                    />
                    <button type="submit" class="btn btn-primary">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group form-inline p-2">
                    <label for="fechaInicio">Fecha de inicio:</label>
                    <input
                      class="form-control m-3"
                      id="fechaInicio"
                      name="fechaInicio"
                      th:field="*{fechaInicio}"
                      type="date"
                    />

                    <label for="fechaFin">Fecha de Finalización:</label>
                    <input
                      class="form-control m-3"
                      id="fechaFin"
                      name="fechaFin"
                      th:field="*{fechaFin}"
                      type="date"
                    />
                  </div>
                </div>
                <div class="row">
                  <label for="dias">Dias de la semana</label>
                  <select
                    required
                    type="text"
                    class="form-control selectpicker col-lg-4"
                    multiple
                    data-live-search="true"
                    th:field="${clase.dias}"
                  >
                    <option
                      th:each="dia, iter :${dias}"
                      th:value="${dia.idDia}"
                      th:text="${dia.diaDeLaSemana}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
