<!DOCTYPE html>
<html lang="es">
<head>
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="/js/bootstrap.min.js"></script>
        
    <!--Iconos de FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://kit.fontawesome.com/76bcb4e810.js" crossorigin="anonymous"></script>

    
     <!-- SweetAlert -->
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/funciones.js"></script>
    
</head>
<body>

    <!--Tabla que trae datos desde base de datos--
    asdjasodijasoidjiasjdo
    -->
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Agregar Horario</h3>
            </div>

            <div class="card-body">
                <form th:action= "@{/admin/save_horario/}+${idclase}" th:object= "${horario}" method="POST">

                    <div class="form-group">
						<input type="hidden" th:field="*{idHorario}" id="idhorario">
               		</div>	
                    <div class="form-group">
                        <label for="hora_inicio">Inicio</label>
                        <input th:field="*{hora_inicio}" type="time" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="hora_fin">Hora fin</label>
                        <input th:field="*{hora_fin}" type="time" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="lugar">Lugar de práctica</label>
                        <input th:field="*{lugar}" type="text" class="form-control"/>
                    </div>
					                   
                        
                    <div class="form-group">
                        <label for="dia_semana">Dia Semana</label>
                        <input th:field="*{dia_semana}" type="text" class="form-control"/>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" >Guardar</button>
                    
                    
                </form>
            </div>
            
                <!--
                <form th:action="@{/admin/save_horario}" th:with= "clase : ${clase}"th:object= "${horario}"method="POST">
                   
                    
                </form>


                -->
               
            
        </div>
    </div>
    
</body>
</html>