<!DOCTYPE html>
<html lang="es">
<head>
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="/js/bootstrap.min.js"></script>
        
    <!--Iconos de FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://kit.fontawesome.com/76bcb4e810.js" crossorigin="anonymous"></script>

    
     <!-- SweetAlert -->
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/funciones.js"></script>
    
</head>
<body>

    <!--Tabla que trae datos desde base de datos--
    asdjasodijasoidjiasjdo
    -->
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Agregar persona</h3>
            </div>
            
            <div class="card-body">
                <form th:action="@{/admin/save}" th:object=${profesor} method="POST">

                    <div class="form-group">
						<input type="hidden" th:field="*{idProf}" id="idprofesor">
               		</div>	
                    <div class="form-group">
                        <label for="nombre">nombre</label>
                        <input th:field="*{nombreProf}" type="text" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="apellido">apellido</label>
                        <input th:field="*{apellidoProf}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="telefono">telefono</label>
                        <input th:field="*{telefonoProf}" type="number" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="email">DNI</label>
                        <input th:field="*{dniProf}" type="number" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="matricula">Matricula</label>
                        <input th:field="*{matriculaProf}" type="number" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="fechaNacimiento">Fecha de nacimiento</label>
                        <input th:field="*{fechaNacProf}" type="date" class="form-control"/>
                    </div>
                    
                    
                    
                   
                    <button type="submit" class="btn btn-primary" >Guardar</button>
                    
                </form>

            </div>

        </div>
    </div>
    
</body>
</html>