<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://kit.fontawesome.com/76bcb4e810.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="static/img/user.png" th:src="@{/img/user.png}" id="icono usuario" alt="icono de usuario"/>
          </div>
      
          <!-- Login Form -->
          <form th:action="@{/login}" method="post">
            <div class="form-group">
            	<i class="fa fa-user icon"></i>
                <input type="text" class="fadeIn second" placeholder="Nombre de usuario" name="username"/>
            </div>
            <div class="form-group">
            	<i class="fa fa-key icon"></i>
        		<input type="password" class = "fadeIn third" placeholder="Contraseña" name="password"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
            </div>
        </form>
        
      
          <!-- Remind Passowrd -->
        <div id="formFooter">
            <div id="invalid user" th:if="${param.error}" class="alert alert-danger" role="alert">
                <label> Invalid username and password. </label> 
            </div>
            <div id="loged out" th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been logged out.
            </div>

        </div>
      
        </div>
    </div>
    
</body>
</html>

